<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TEAM RAJE</title>
    <div class="header" style="padding: 60px;
            text-align: center;
            background: #1abc9c;
            color: white;
            font-size: 30px;">
        <h1>NBA Win Analyzer</h1>
        <p>arjunbp3, ericdh2, jackwp2, rbalaji3</p>
      </div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container mt-4">
        <p><a href="search.ejs">Search!</a></p>
        <p><a href="insert_player.ejs">Insert a player!</a></p>
        <p><a href="insert_stats.ejs">Insert stats!</a></p>
        <p><a href="delete_player.ejs">Delete a player!</a></p>
        <p><a href="delete_stats.ejs">Delete stats!</a></p>
        <p><a href="update_stats.ejs">Update stats!</a></p>
    <div>
        
  </body>
</html>
